roaster-zephyr/roaster-zephyr-dto/src/main/resources/xsd/hu/icellmobilsoft/roaster/zephyr/dto/domain/jira.xsd

<xs:schema xmlns="http://domain.dto.zephyr.roaster.icellmobilsoft.hu/test-execution"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://domain.dto.zephyr.roaster.icellmobilsoft.hu/jira"
           elementFormDefault="qualified">

    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:string"/>
                <xs:element name="emailAddress" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>